.pos-relative-nudge-up-right {
    position: relative;
    bottom: 30px;
    left: 8px;
    font-weight: bold;
}
.pos-relative-nudge-up {
    position: relative;
    bottom: 20px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    /*z-index: 10;*/
}

.head-image {
    width: 100%;
    margin: 0;
}

.post-image {
    width: 60px;
    height: 60px;
    margin: 3px;
    border-radius: 3px;
    float: end;
}

.image-logo {
    height: 40px;
    float: end;
    margin-right: 30px;
    /*position: relative;*/
    /*margin-right: 2px;*/
}

.news {
    font-size: 15px;
    color: rgb(110, 118, 125);
}

post {
    color: rgb(29,161,242);
    border: 1px solid;
}

h2 {
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin: 3px;
}

h3 {
    font-size: 13px;
    /*font-weight: bold;*/
    color: black;
    margin: 3px;
}
h4 {
    font-size: 13px;
    font-weight: 400;
    color: rgb(110, 118, 125);
    margin: 3px;
}

.icon-black {
    color: black
}

.vertical-center {
    display: flex;
    align-items: center;
}