
.wd-bg {
    background-color: black; /*-- Black?? */
    color:white;
    font-size: 14px;
}

.wd-search-bar {
    width: 90%;
    float: left;
    background-color: darkgray;
    color:white;
    border-radius: 25px;
    /*height: 1.5em;*/
    /*margin-left: 16px;*/
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 40px;
}

/*.rounded-corners-all-around {*/
/*    border-radius: 50px;*/
/*}*/

.pos-relative-left {
    position: relative;
    left: 30px;
    top: 5px;
}
.grid-row {
    display: flex;
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
    margin-left: 20px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    clear: both;
    /*align-items: flex-start;*/
}



.grid-col-90-pc {
    width: 90%;
    float:left;
}

/*.grid-row.fa-search {*/
/*    position: relative;*/
/*    left: 500px;*/
/*}*/

.grid-col-10-pc {
    width: 10%;
    /*height:200%;*/
    /*! How to make the setting icon bigger？*/
    float: right;
    /*margin-top: .5em;*/
    padding-left: 12px;
    padding-top: 5px;
}

.grid-col-one-sixth {
    width: 16.66%;
    float:left;
}

.grid-col-five-sixth {
    width: 88.34%;
    float:left;
}

/*.row {*/
/*    clear:both;*/
/*}*/
/*.col {*/
/*    float:left;*/
/*}*/
.border {
    /*border-color: white;*/
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
    /*padding-left: 16px;*/

}

/*.zindex-bring-to-front {*/
/*    z-index: 10;*/
/*}*/

.padded-left {
    padding-left: 16px;
}

.padded-right{
    padding-right: 12px;
}


/*.bg-color-darkgray {*/
/*    background-color: darkgray;*/
/*}*/




.wd-link {
    list-style-type: none;
    /*font-size: 15px;*/
    /*padding: 16px;*/
    margin: 0;
    color: rgb(110, 118, 125);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wd-link > a {
    font-size: 15px;
    padding: 16px;
    /*margin-bottom: 15px;*/
    /*white-space: nowrap;*/
    text-align: left;

}

.wd-link > li {
    font-size: 15px;
    padding: 16px;
    /*margin-bottom: 15px;*/
    /*white-space: nowrap;*/
    text-align: left;

}
/*1. Didn't show up as bold??? 2.  How to highlight the bottom line as well?*/
.wd-active {
    font-weight: bold;
    color: rgb(29,161,242);
    border-bottom: solid 4px;
    /*border-bottom： solid ???;*/
}

.grid-row h2 {
    font-size: 15px;
    font-weight: bold;
    color: white;
    /*padding: 3px;*/
    margin: 3px;
}

.grid-row h3 {
    font-size: 13px;
    font-weight: bold;
    color: white;
    /*padding: 3px;*/
    margin: 3px;
}
.grid-row h4 {
    font-size: 13px;
    font-weight: 400;
    color: rgb(110, 118, 125);
    /*padding: 3px;*/
    margin: 3px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
    /*width: 100px;*/
    /*height: 100px;*/
    /*border-right: 16px;*/
    /*border-radius: 10px;*/
}

.float-done {
    clear: both;
}

.wd-news-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;

}

.wd-news-logo {
    width: 15px;
    height: 15px;
    /*color: white;*/
    border-radius: 50px;
}