body {
    min-width:576px;
}

.pos-relative-nudge-up-right {
    position: relative;
    bottom: 30px;
    left: 8px;
    font-weight: bold;
}
.pos-relative-nudge-up {
    position: relative;
    bottom: 20px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    /*z-index: 10;*/
}

.head-image {
    width: 100%;
    margin: 0;
}

.post-image {
    width: 60px;
    /*height: 60px;*/
    margin: 1px;
    border-radius: 3px;
    /*border-radius: 30px;*/
    float: end;
}

.image-logo {
    height: 40px;
    float: end;
    margin-right: 20px;
    /*position: relative;*/
    /*margin-right: 2px;*/
}

.wd-image-profile-photo {
    width: 48px;
    height: 48px;
    border-radius: 50px;
}

.news {
    font-size: 15px;
    color: rgb(110, 118, 125);
}

.post {
    /*border-bottom: 1px solid rgb(211, 211, 211, 0.2);*/
    border-bottom: 1px solid rgb(211, 211, 211, 0.2);
    border-left: 1px solid rgb(211, 211, 211, 0.2);
    border-right: 1px solid rgb(211, 211, 211, 0.2);
    /*margin-top: 10px;*/
    /*color: rgb(29,161,242);*/
    /*border: 1px solid;*/
}

h2 {
    font-size: 15px;
    font-weight: bold;
    /*color: black;*/
    color: white;
    margin: 3px;
}

h3 {
    font-size: 13px;
    /*font-weight: bold;*/
    /*color: black;*/
    color: white;
    margin: 3px;
}
h4 {
    font-size: 13px;
    font-weight: 400;
    color: rgb(110, 118, 125);
    margin: 3px;
}

.icon-black {
    color: black
}

.icon-blue {
    color: blue;
}

.icon-white {
    color: white;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.card {
    /*border-width: 0.1px;*/
    border-radius: 20px;
    border-color: rgba(211, 211, 211, 0.2);
    background: 0;
}

.card-img-top {
    border-radius: 20px;

}

.card-body {
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-color: rgb(211, 211, 211, 0.5);*/
    border-top: 1px solid rgb(211, 211, 211, 0.2);

}

/*.border-top {*/
/*    !*border: rgba(211, 211, 211, 0.5);*!*/
/*}*/

/*.borders {*/
/*    border: 1px solid rgb(211, 211, 211, 0.15);*/
/*}*/