body {
    background-color:black;
    color: white;
    font-family: Arial;
}

.wd-overall-layout {
    margin-left: 16px;
    /*border-style: solid;*/
    /*border-width: 2px;*/
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: rgb(47, 51, 54);
}